{% extends "checkout.html" %}
{% block checkout %}

{% if pdata %}
    {% for data in pdata %}
        <form action="{{ url_for('checkout') }}" method="POST">
            <div class="form-group">
                <label for="f-name">First name:</label>
                <input type="text" class="form-control" name="fname" id="f-name" value="{{ data.fname|default('') }}">
            </div>
            <div class="form-group">
                <label for="l-name">Last name:</label>
                <input type="text" class="form-control" name="lname" id="l-name" value="{{ data.lname|default('') }}">
            </div>
            <div class="form-group">
                <label for="mail">Email:</label>
                <input type="email" class="form-control" name="email" id="mail" value="{{ data.email|default('') }}">
            </div>
            <div class="form-group">
                <label for="phone_">Phone:</label>
                <input type="number" class="form-control" name="phone" id="phone_" value="{{ data.phone|default('') }}">
            </div>
            <div class="form-group">
                <label for="s_address">Street address:</label>
                <input type="text" class="form-control" name="saddress" id="s_address" value="{{ data.s_address|default('') }}">
            </div>
            <div class="form-group">
                <label for="postc">Postcode:</label>
                <input type="number" class="form-control" name="postcode" id="postc" value="{{ data.postcode|default('') }}">
            </div>
            <div class="form-group">
                <label for="city_">City:</label>
                <input type="text" class="form-control" name="city" id="city_" value="{{ data.city|default('') }}">
            </div>
            <button type="submit" class="btn btn-default" name="action" value="do_1">Submit</button>
        </form>
    {% endfor %}
{% else %}
     <form action="{{ url_for('checkout') }}" method="POST">
        <div class="form-group">
            <label for="f-name">First name:</label>
            <input type="text" class="form-control" name="fname" id="f-name">
        </div>
        <div class="form-group">
            <label for="l-name">Last name:</label>
            <input type="text" class="form-control" name="lname" id="l-name">
        </div>
        <div class="form-group">
            <label for="mail">Email:</label>
            <input type="email" class="form-control" name="email" id="mail">
        </div>
        <div class="form-group">
            <label for="phone_">Phone:</label>
            <input type="number" class="form-control" name="phone" id="phone_">
        </div>
        <div class="form-group">
            <label for="s_address">Street address:</label>
            <input type="text" class="form-control" name="saddress" id="s_address">
        </div>
        <div class="form-group">
            <label for="postc">Postcode:</label>
            <input type="number" class="form-control" name="postcode" id="postc">
        </div>
        <div class="form-group">
            <label for="city_">City:</label>
            <input type="text" class="form-control" name="city" id="city_">
        </div>
        <button type="submit" class="btn btn-default" name="action" value="do_1">Submit</button>
    </form>
{% endif %}
{% endblock %}