{% extends "checkout.html" %}
{% block checkout %}
<h3>Confirmation</h3>
        <table>
            <thead>
            <tr>
                <th colspan="2" class="name">Item</th>
                <th>Item price</th>
                <th>Quantity</th>
                <th>Price </th>
            </tr>
            </thead>
            <tbody>
            {% for id in cart %}
            <tr class="item">
                <td class="preview"><img src="{{ id.img }}" alt="{{ id.name }}"/></td>
                <td class="name">{{ id.name }}</td>
                {% if id.bonus_price == None %}
                    <td>${{ id.normal_price }}</td>
                    <td>{{ id.count }}</td>
                    <td>${{ id.count * id.normal_price }}</td>
                {% else %}
                    <td>${{ id.bonus_price }}</td>
                    <td>{{ id.count }}</td>
                    <td>${{ id.count * id.bonus_price }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="4" class="name">Total</td>
                <td>${{ total }}</td>
            </tr>
            </tbody>
        </table>
<br />
<br />
<form action="{{ url_for('checkout') }}" method="POST">
    <input type="hidden" name="action" value="do_2" />
    <input type="checkbox" name="confirm" value="1">I confirm this order and agree to the terms & conditions<br />
    <input type="submit" value="Confirm order"/>
</form>
{% endblock %}