{% extends "layout.html" %}
{% block title %} | Cart {% endblock %}
{% block content %}

    <section id="cart">
        <h2>Shopping cart</h2>
        <table>
            <thead>
            <tr>
                <th colspan="2" class="name">Item</th>
                <th>Item price</th>
                <th>Quantity</th>
                <th>Price </th>
            </tr>
            </thead>
            <tbody>
            {% for id in cart %}
            <tr class="item">
                <td class="preview"><img src="{{ id.img }}" alt="{{ id.name }}"/></td>
                <td class="name">{{ id.name }}</td>
                {% if id.bonus_price == None %}
                    <td>${{ id.normal_price }}</td>
                    <td>{{ id.count }}</td>
                    <td>${{ id.count * id.normal_price }}</td>
                {% else %}
                    <td>${{ id.bonus_price }}</td>
                    <td>{{ id.count }}</td>
                    <td>${{ id.count * id.bonus_price }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="4" class="name">Total</td>
                <td>${{ total }}</td>
            </tr>
            </tbody>
        </table>
    </section>

    <section>
        <form action="{{ url_for('checkout') }}" method="POST">
            <label>First name: <input type="text" name="fname"></label><br />
            <label>Last name: <input type="text" name="lname"></label><br />
            <label>Email: <input type="email" name="email"></label><br />
            <label>Phone: <input type="number" name="phone"></label><br />
            <label>Street address: <input type="text" name="saddress"></label><br />
            <label>Postcode: <input type="number" name="postcode"></label><br />
            <label>City: <input type="text" name="city"></label><br />
        </form>
        <a href="{{ url_for('checkout') }}?action=do_0" class="button"><i class="fa fa-truck"></i> Checkout</a>

    </section>

{% endblock %}