<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webshop: {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    {# NOTE: This is the file that contains your layout. All other template files should extend this one. #}

    <header>
        <h1>The unofficial Formula-1 webshop</h1>
        <nav>
            <ul>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Special deals</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="{{ url_for('cart') }}">Shopping cart</a></li>
            </ul>
        </nav>
    </header>

    {% if msg is defined %}<div class="placeholder message">{{ msg }}</div>{% endif %}
    {% if err is defined %}<div class="placeholder error">{{ err }}</div>{% endif %}

    <main>
    {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="contact">
            <span class="strong">Customer service:</span> <br />
            +47 321 09 87654 <br />
            <a href="#">info@f1webshop.com</a>
        </div>

        <div class="contact">
            <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
            <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
            <a href="#"><i class="fa fa-youtube fa-3x"></i></a>
        </div>

    </footer>
</body>
</html>