body {
    margin: 0 100px;
}
.card {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    
}

.front, .back {
    border: 2px gray solid;
    padding: 10px;
}
.back {
    border-radius: 5px;
    
}
.front {
    border-radius: 5px;
    
    background-color: green;
}

#start{
    float: top;
}

table{
    border: 1px solid black;
}

/*
.r-back{
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    transform: rotateY(0deg);
    transition: all 0.5s ease-out;
}

.r-front{
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: rotateY(180deg);
}

.r-card{
    perspective: 200px;
    position: relative;
    transform-style: preserve-3d;
}
*/