body {
    margin: 0 100px;
}
.card {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    
}

.front, .back {
    border: 2px green solid;
    padding: 10px;
}
.back {
    border-radius: 5px;
    
}
.front {
    border-radius: 5px;
    background-color: green;
}

#start{
    text-align: center;

}

#cardboard{
    margin: auto;
}

.tableboard{
    margin: auto;
}

.tableC{
    float: right;
}

.g_info{
    text-align: center;
}

.winnerboard{
    margin: 3em auto;
}

.winner{
    text-align: center;
    background-color: lightgreen;    
}