{% extends "base.html" %}

{% block content %}

        <div class="container">


            <!-- Form -->
            <form id="#myForm" data-toggle="validator" method="POST" class="form-horizontal" role="form" action="{{ url_for('add_product') }}" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="col-xs-5 col-xs-offset-3">
                        <h2>Add new product</h2> <br/>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label for="name" class="col-xs-3 control-label">Product name</label>
                    <div class="col-xs-5">
                        <input type="text" class="form-control" id="name" name="name" required data-error="Please enter a product name" placeholder="Product name"/>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>

               <div class="form-group has-feedback">
                    <label for="description" class="col-xs-3 control-label">Description</label>
                    <div class="col-xs-5">
                        <textarea rows="5" class="form-control" id="description" name="description" required placeholder="Please enter product description"></textarea>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label for="normal_price" class="col-xs-3 control-label">Price</label>
                    <div class="col-xs-5">
                        <input type="number" class="form-control" id="normal_price" name="normal_price" required placeholder="Product price"/>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label for="bonus_price" class="col-xs-3 control-label">Bonus price</label>
                    <div class="col-xs-5">
                        <input type="number" class="form-control" id="bonus_price" disabled name="bonus_price" data-error="The bonus price must be less than the original price" placeholder="If on sale, enter bonus price"/>
                        <div class="help-block with-errors"></div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="file" class="col-xs-3 control-label">Upload file</label>
                    <div class="col-xs-5">
                        <span class="btn btn-primary">
                            <input type="file" id="file" name="file" required>
                        </span>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-xs-5 col-xs-offset-3">
                        <button type="submit" name="id" class="form-control btn btn-primary">Submit</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-5 col-xs-offset-3">
                        <a href="{{ url_for('products') }}" class=" form-control btn btn-warning">Cancle</a>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}