<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webshop: {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    {# NOTE: This is the file that contains your layout. All other template files should extend this one. #}

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Add</a></li>
                    <li><a href="#">Remove</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if username %}
                        <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Product management</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout | {{ username }}</a></li>
                    {% else %}
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </header>

    {% if msg is defined %}<div class="alert alert-success alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>{{ msg }}</div>{% endif %}
    {% if err is defined %}<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>{{ err }}</div>{% endif %}
    {% if war is defined %}<div class="alert alert-warning alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>{{ war }}</div>{% endif %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
                {% for category, msg in messages %}
                    {% if category == 'remove' %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            {{ msg }}
                        </div>
                    {% elif category == 'set' %}
                        <div class="alert alert-warning alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            {{ msg }}
                        </div>
                    {% endif %}
                {% endfor %}
        {% endif %}
    {% endwith %}

    <main>
    {% block content %}{% endblock %}
    </main>

</body>
</html>