{% extends "base.html" %}

{% block content %}

    <div class="container" style="margin-top: 10px">
        <h1>Products</h1> <br>
        <table id="product_table" class="display table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Bonus price</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.normal_price }}</td>
                        <td>{{ product.bonus_price }}</td>
                        <td>
                            <a href="{{ url_for('edit', id=product.id) }}" data-id="{{ product.id }}" type="button" class="btn">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}