ul ul {
    color: blue;
}

ul ul ul {
    list-style-type: none;
}

ul:first-line {
    font-weight: bold;
}

a {
    color: green;
}

ul a {
    color: red;
}

div:nth-child(2) a {
    color: purple;
    background-color: yellow;
}