html{
    position: relative;
    min-height: 100%;
}
li{
    display: inline;
    border: 1px solid black;
}
nav{
    width: 100%;
    background-color: grey;
    padding: 0.1em;
}
article{
    display: inline-block;
}
p{
    margin: 0 5em 0 0;
    padding: 0 0 0 10px;
}
body{
    background-color: white;
    margin: 0 0 70px;
}
footer{
    position: absolute;
    background-color: lightslategray;
    left: 0;
    bottom: 0; 
    height: 70px;
    width: 100%;
    padding: 1em 0 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
header{
    padding-left: 10px;
}