html{
    position: relative;
    min-height: 100%;
}
h1, h2, h3, h4, h5, h6{
    font-family: Montserrat;
}
li, p, article{
    font-family: Raleway;
    font-size: 1em;
}
body{
    background-color: white;
    margin: 0 0 70px;
}
header{
    padding-left: 10px;
}
nav{
    width: 100%;
    background-color: lightgrey;
    padding: 0.1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
    li{
        display: inline;
        padding: 0 1em 0 0;
    }
main{
    width: 824px;
    margin: 1em;
}
.mainproduct{
    width: 100%;
    margin: 1em;
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
.sale{
    background-color: orange;
    text-align: center;
    width: 806px;
    height: 240px;
    color: white;
    margin: 10px 0 10px 5px;
}
.saleh1{
    padding: .3em;
    font-size: 3em;
}
hr{
    border: 1px solid white;
    width: 70%;
}
.product{
    width: 260px;
    height: 370px;
    border: 1px solid black;
    position: relative;
    margin: 0 10px 10px 0;
}
.product2{
    width: 350px;
    height: 350px;
    border: 1px solid black;
    position: relative;
    margin: 0 10px 10px 0;
}
.description{
    position: relative;
    margin: 0 10px 10px 0;
    top: 0;
    width: 28em;
    height: 350px;
    
}
.product:hover{
    background-color: grey;
    border: 2px hidden grey;
    box-shadow: 5px 5px 5px #888888;
}
.poff{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    position: absolute;
    top: 0; 
    right: 0;
    z-index: 1;
    width: 60px;
    height: 40px;
}
.pind{
    text-align: center;
    line-height: 40px;
}
.dealcolor{
    color: darkorange;
}
.oldprize{
    color: grey;
}
.pimg{  
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%;
    text-align: center;
}
img{
    height: 250px;
    width: 250px;
}

.imgp{
    position: absolute;
    top: 1;
    height: 350px;
    width: 350px;
}
.ph4{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .1em;
}
.pprize{
    position: absolute;
    bottom: 0;
    right: 0;
}
.addtocartbutton{
    position: absolute;
    bottom: 0;
    right: 1;
    width: 8em;
    background-color: #499CFA;
    padding: .2em;
    border-radius: 2px;
}
footer{
    position: absolute;
    background-color: lightslategray;
    left: 0;
    bottom: 0; 
    height: 70px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
    article{
        display: inline-block;
    }
    p{
        margin: 0 5em 0 0;
        padding: 0 0 0 10px;
    }
    .buttontext{
        padding: 0 0 0 1em;

    }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v9/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}